<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByyBp0_Ex_xIlVr3pkRbLPHafJAlKzwyE</string>
	<key>GCM_SENDER_ID</key>
	<string>805396975328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.AppLogin</string>
	<key>PROJECT_ID</key>
	<string>swiftui-testing-9b06d</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-testing-9b06d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805396975328:ios:990433904e79708f288a85</string>
</dict>
</plist>